# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.cache/
.kaggle/
*.pt
model_cache/
.env
config/credentials.json

# Logs
*.log
logs/


# Large data files
data/raw/glassdoor/all_reviews.csv
data/raw/glassdoor/glassdoor_reviews.csv
data/raw/tweet-sentiment-s-impact-on-stock-returns/full_dataset-release.csv
data/raw/**/*.csv
